@import url('link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet"');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
}
.contact-bg{
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/contact-bg.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #3A8869;
;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background:#3A8869;
;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #3A8869;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}


.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #3A8869;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity: 0.8;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}



@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* Header configuration */

.header--banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }
  
  .header--banner--img {
    float: left;
  }
  
  .header--banner--nav ul {
    display: flex;
    gap: 98px;
  
    list-style-type: none;
  }
  
  .header--banner--nav ul li a {
    color: #282828;
    font-weight: 900;
    text-decoration: none;
    font-size: 24px;
  }
  
  .header--banner--nav ul li a:after {
    content: "";
    width: 0%;
    height: 2px;
    background: #3a8869;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .header--banner--nav ul li a:hover::after {
    width: 100%;
  }
  
  .cart-count-container{
    height:20px;
    width:20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .cartCount{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    float: left;
    padding-left: 25px;
    padding-top: 7px;
  }
  
  input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #282828;
    border-radius: 3px;
    padding: 3px 8px;
    color: #333;
    cursor: pointer;
  }
  
  .search-container{
    display:flex;
    border-style:solid;
    border-radius: 50px;
    height: 40px;
  }
  
  .search-button{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: none;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color:#3A8869;
  }



  .footer-list {
    list-style-type: none;
  }
  .footer-list li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-title-nav {
    font-size: xx-large;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

footer{
    background-color: #3A8869;
    padding:100px;
}

.footer-nav-list ul li a:after {
    content: "";
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .footer-nav-list ul li a:hover::after {
    width: 100%;
  }

  .copy-right-container {
    text-align: center;
    margin-top: 50px;
    color: white;
  }