/*
  CSS File
*/
*{
  margin: 0;
  padding: 0;
  font-family:
}

/*
 VARIABLES
*/

  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */


  /* Header configuration */
  
  .header--banner {
    display: flex;
    align-items: center;
  
    padding: 1.5rem 0;
  }
  
  .header--banner--img {
    float: left;
  }

  
  .header--banner--nav ul {
    display: flex;
    gap: 98px;
  
    list-style-type: none;
  }
  
  .header--banner--nav ul li a {
    color: #282828;
    font-weight: 900;
    text-decoration: none;
    font-size: 24px;
  }
  


  .header--banner--nav ul li a:after {
    content: '';
    width: 0%;
    height: 2px;
    background: #3A8869;
    display: block;
    margin: auto;
    transition: 0.5s;
    }

  .header--banner--nav ul li a:hover::after{
      width: 100%;
    }

  
  form {
    float: right;
    padding-left: 98px;
  }
  
  input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #282828;
    border-radius: 3px;
    padding: 5px 10px;
    color: #333;
    cursor: pointer;
  }
  
  
  .search-container button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    padding: 0 10px;
  }
  
  .search-container button:hover {
    color: #000;
  }
  
  .search-container button i {
    margin-right: 5px;
  }

  /* Body configuration */

  /*product*/
  .container {
    padding: 40px 4rem;
  }

  .products {
    text-align: center;
  }

  .tea--posts {
    padding: 108px;
    display: flex;
    gap: 142px;
    list-style-type: none;
  }
  
  .tea--posts li img {
    height: 16rem;
    margin-bottom: -5rem;
    object-fit: cover; 
  }
  
  .tea--posts li p {
    font-size: 32px;
  }

  .tea--posts2 {
    padding: 108px;
    display: flex;
    gap: 142px;
    list-style-type: none;
  }
  
  .tea--posts2 li img {
    height: 16rem;
    margin-bottom: -5rem;
    object-fit: cover; 
  }
  
  .tea--posts2 li p {
    font-size: 32px;
  }
/*
  PAGE / BODY
*/
h1 {
text-align: center;
color:#0E2019;
font-size: 50px;
}



.hero-order-button {
  display: inline-block;
  border:none;
  color: #ffffff;
  font-size: 20px;
  border-radius: 50px;
  width: 139px;
  height: 58px;
  background-color: #3A8869;
  margin-top: 60px;
}

.hero-section{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.introduction{
  padding: 160px;
}


.introduction-title{
  margin-bottom: 30px;
  text-align:center;
}

.products-container{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.operation-hours-container{
  padding: 60px;
}

.operation-hours-title{
  margin-bottom: 20px;
}

td{
  width: 120px;
}

.menu-content-container{
  display:flex;
  height: 100%;
  width:100%;
  background-image: url('./images/favicon/menu-bg.png');

}

.discription-container{
  width: 40%;
  padding: 5%
}

.product-image-container{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
}

.other-product{
  width:20%;
  /* background-color: blue; */
}

.rate-container{
  display:flex;
  flex-direction:row;
}

.gredient-container{
  display:flex;
  flex-direction:column
}

.product-action{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
}

.amount-action{
  width: 40%;
  height: 40px;
  background-color: white;
  border-radius: 90px;
  display:flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right:10px;
  align-items: center;
}

.amount-action span{
  border-left: #000;
}

.amount-action button{
  border: none;
  height: fit-content;
  background-color: white;
}

.add-cart-btn{
  width:40%;
  height: 40px;
  background-color: #3A8869;
  border-radius: 90px;
  color:white
}


/*
  Screen reader text utility class
*/

